<nav class="main-menu">
    <div>
        <a class="logo" href="http://startific.com">
        </a>
    </div>
    <div class="settings"></div>
    <ul>
        <li>
            <a href="/tickets">
                <i class="fa fa-home fa-lg"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li>
            <a href="/users">
                <i class="fa fa-solid fa-users"></i>
                <span class="nav-text">Users</span>
            </a>
        </li>
        <li>
            <a href="/actions">
                <i class="fa fa-solid fa-table-list"></i>
                <span class="nav-text">Actions</span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>