@attribute [Authorize(Roles = "User")]

@page "/counter"
@using DBTest3.Data
@using DBTest3.Data.Entity
@using DBTest3.Service

<input @bind-value="locationName"/>

<button @onclick="saveLocation">Submit</button>

@foreach(var location in locations)
{
    <p>@location.Name</p>
}

@code {
    string locationName = "";
    [Inject]
    ILocationService  locationService { get; set; }
    //[Inject]
    //ApplicationDbContext context { get; set; }

    List<Location> locations;

    protected override async Task OnInitializedAsync() =>
        locations = locationService.GetLocations();

    public async Task saveLocation() {
        Location location = new Location() 
        {
           Name = locationName,
        };

        locationService.saveLocation(location);

        locations = locationService.GetLocations();
    }
}