@page "/Companies"

@using DBTest3.Data.ViewModels
<div class="row">
    <div class="col-sm-2">

        <a href="/Company/New" class="btnp">Нов</a>

    </div>
</div>
<br />
<RadzenDataGrid AllowFiltering="true" @ref="grid" Data="companies" TItem="CompanyVM" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="15" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left">
    <Columns>
        <RadzenDataGridColumn TItem="CompanyVM" Title="№" Frozen="true" Width="150px">
            <Template Context="company">
                <RadzenLabel Text="@((companies.IndexOf(company) + 1).ToString())" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Frozen="true" Filterable="false" Width="80px" TextAlign="TextAlign.Left">
            <Template Context="company">
                <a href="/Company/@company.Id">
                    <i class="fa-regular fa-pen-to-square fa"></i>
                    </a>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Frozen="true" Filterable="false" Width="80px" TextAlign="TextAlign.Left">
            <Template Context="company">
                <button @onclick="() => deleteCompanies(company)" style="background:none;border: none;">
                    <i class="fa-solid fa-trash fa"></i>
                    </button>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Property="Id" Filterable="false" Visible="false" Title="ID" Frozen="true" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="CompanyVM" Property="name" Title="Име" Frozen="true" />
        <RadzenDataGridColumn TItem="CompanyVM" Property="EIK" Title="ЕИК" Frozen="true" />
        <RadzenDataGridColumn TItem="CompanyVM" Property="address" Title="Адрес" Frozen="true" />
        <RadzenDataGridColumn TItem="CompanyVM" Property="ManagerName" Title="Мениджър(Име)" Frozen="true" />


    </Columns>
</RadzenDataGrid>