@page "/Users"
@using DBTest3.Data.ViewModels
<div class="row">
    <div class="col-sm-2">
        <a href="/UserProfile/New" class="btnp">Нов</a>
    </div>
</div>
<br />
<RadzenDataGrid AllowFiltering="true" @ref="grid" Data="users" TItem="UserVM" AllowAlternatingRows="false"
FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="15" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left">
    <Columns>
        <RadzenDataGridColumn TItem="UserVM" Title="№" Frozen="true">
            <Template Context="user">
                <RadzenLabel Text="@((users.IndexOf(user) + 1).ToString())" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserVM" Frozen="true" Filterable="false" Width="80px">
            <Template Context="user">
                <a href="/UserProfile/@user.Id"><i class="fa-regular fa-pen-to-square fa"></i></a>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="UserVM" Frozen="true" Filterable="false" Width="80px" TextAlign="TextAlign.Left">
            <Template Context="user">
                <button disabled="@user.Email.Equals("radi.gurev@rado-development.eu")" @onclick="() => deleteUser(user)" style="background:none;border: none;">
                    <i class="fa-solid fa-trash fa"></i>
                </button>
            </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="UserVM" Property="Id" Filterable="false" Visible="false" Title="ID" Frozen="true" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="UserVM" Property="UserName" Title="UserName" Frozen="true" />
            <RadzenDataGridColumn TItem="UserVM" Property="FirstName" Title="Име" Frozen="true" />
            <RadzenDataGridColumn TItem="UserVM" Property="LastName" Title="Фамилия" Frozen="true" />
            <RadzenDataGridColumn TItem="UserVM" Property="Company.name" Title="Фирма" Frozen="true" />
    </Columns>
</RadzenDataGrid>